@import url('https://fonts.googleapis.com/css2?family=Roboto');
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("images/background.png"), #0a146e;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
/* Header */
#header {
    width: 100%;
    height: 90px;
    background-color: rgba(35, 70, 152, 0.65);
}
#header #logo {
    text-align: left;
}
.two_columns {
    float: left;
    width: 50%;
    height: 100%;
}
#logo img {
    height: 80px;
    padding: 5px 0;
    padding-left: 30px;
}
#header_text {
    color: white;
    font-size: 20px;   
    text-align: right;     
}
#header_text p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    padding-right: 30px;
}

/* Content */
#content {
    color: white;
    height: 300px;
    background-color: rgba(0, 34, 114, 0.8);
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    padding: 5px;
}

#converter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#converter p {
    margin-bottom: 3px;
}
#converter div {
    margin: 5px;
}
#converter input {
    font-size: 20px;
    width: 140px;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;
}
/* Chrome, Safari, Edge, Opera */
#converter input::-webkit-outer-spin-button,
#converter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#converter input[type=number] {
  -moz-appearance: textfield;
}

#converter select {
    font-size: 20px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#switch_curr {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}
#switch_curr:hover {
    color: #949494;
    transition: color 0.3s;
}
#switch_curr:focus {
    color: white;
    outline: none;
}
#switch_curr i{
    font-size: 23px;
    line-height: 40px;
}
#convert_btn {
    line-height: 32px;
    font-size: 19px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FCB813;
    color: #002272;
    cursor: pointer;
}
#convert_btn:hover {
    background-color: #9c7924;
    transition: color 0.3s;
}
#convert_btn:focus {
    background-color: #FCB813;
    outline: none;
}
#result {
    text-align: center;
}
#entered {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#calculated {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}
#calculated small {
    font-size: 20px;
}

/* Combination */
#combination {
    margin-top: -10px;
    display: none;
}
#combination a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
#combination a:hover {
    color: grey;
}

/* Footer */
footer {
    color: #c9c9c9;
    width: 100%;
    height: 80px;
    background-color: #242526;
    position: absolute;
    bottom: 0;
    text-align: center;
}
footer div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
footer a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s;
}
footer a:hover {
    color: white;
}

/* Modal */
/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 16px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modalTitle {
    text-align: center;
    font-size: 23px;
}
table {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 10px; 
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}
table thead {
    background-color: #362F4B;
    color: white;
}
table thead th {
    border: none !important;
    padding: 8px;
    font-size: 18px;
}
table tbody {
    color: #7F7F7F;
}
table td {
    border: none !important;
    padding: 4px 10px;
    font-size: 17px;
}
table .row-dark {
    background-color: #F6F6F6;
}
table tbody tr:hover {
    color: #2B2B2B;
    cursor: pointer;
}
table th,table td {
    width:50%;
}



/* Responsive design */
@media only screen and (max-width: 820px) {
    #content {
        width: 100%;
    }
    #converter {
        display: block;
    }
    #converter div {
        width: 300px;
        margin: auto;
    }
    #converter input {
        width: 284px;
    }
    #converter select {
        width: 100%;
    }
    #converter button {
        width: 100%;
        margin-top: 16px;
    }
    #content {
        height: unset;
        top: unset;
        left: unset;
        transform: unset;
        position: unset;
        padding: 0;
        padding-top: 20px;
        min-height: calc(100vh - 190px);
        border-radius: unset;
    }
    footer {
        position: unset;
    }
    #switch_curr {
        margin-bottom: -16px;
    }
    #switch_curr i {
        font-size: 30px;
    }
}
@media only screen and (max-width: 490px) {
    #header_text {
        display: none;        
    }
    #logo {
        float: unset;
        width: unset;
        text-align: center !important;
    }
    #logo img {
        padding-left: 0;
    }
    #converter div {
        width: 90%;
    }
    #converter input {
        width: calc(100% - 16px);
    }
}